*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.top {
    background-color: lightblue;
    width: 100%;
    height: 48px;
    padding: 12px;
    display: flex;
    align-items: center;
}
.navMenu {
    display: flex;
    flex-direction: column;
    background-color:lightpink;
    width: 30vw;
    height: 100vh;
    position:absolute;
    top:0;
    left: 0;
    transition: 0.2s linear;
    padding: 1.5vw;
    gap:2vw;
    transform: translateX(-100%);
}
.navMenu.open {
    transform: translateX(0);
}
#closeBtn {
    align-self: flex-end;
}
.navDiv {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    color: black;
    padding: 1vw;
    border-radius: 8px;
    background-color: peachpuff;
}